/* define variaveis para alterações gerais e simultaneas */
:root {
    --font-dm-sans: "DM Sans", sans-serif;
    /*colors*/
    --bg-icon: #131313;
    --bg-arrow-color: #f20c14;
    --sidebar-color: #ff4b4b;

}