@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* { margin: 0;  /* (*) utilizado para reset da decoração padrãoem HTML*/
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

/* main { 
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: #F55F03; 
    justify-content: space-between;  
    font-size: 15px; 
    color: whitesmoke;
}

strong {
    color: black;

header { 
    display: flex;
    top: 0;
    width: 100%;
    background-color: rgb(14, 14, 14);

}


.tudo {
    display: flex;
    padding: 30px;
}

.imagem {
    display: flex;
    margin-right: 120px;
    border-radius: 50px;
    width: 650px;
    height:650px;
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 120px;
}

.categorias {
    display: flex;
    text-align: center;
    background-color: #F55F03;
    width: 200px;
    height: 50px;
    align-items: center;
    margin: auto;
    border-radius: 16px;
    color: black;
    font-size: 20px;
    padding-left: 50px;
}

.texto {
    display: flex;
    margin-left: 120px;
    flex-direction: column;
    font-size: 30px;
}

.redes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 16px;
    color: black;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: 'space-between' 20px;
}
 */
