
main{
    padding: 2rem ; 
    background-color: rgb(206, 232, 255);
}

.empresa{
    width: 50vw;
    font-weight: 800;
    font-size: 55px;
    color: #F55F03;
    padding-bottom: 1.5rem;
}

.conteudo_principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagem_propaganda{
    width: 30vw;
    border-radius: 40px;
}

.apresentacao{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    gap: 0.25rem;
    padding-bottom: 2rem;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.rede_social img{
    width: 20px;
    height: 20px;
    margin-right: 0.7rem;
}

.rede_social a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.redes .rede_social{
    display: flex;
    flex-direction: row;
    background-color: #2d2c2c;
    align-items: center;
    padding: 0.75rem;
    border-radius: 8px;
    text-decoration: none;
    color:#F55F03;
    width: 8rem;
}