.apresentacao_planos_saude{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    place-items: center; /* alinha itens na vertical e horizontal*/
    text-align: center;
    background-color: #767676;
    
}

.solicitar_cotacao form{
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
}

.solicitar_cotacao .input{
    display: inline-block;
    padding: 0.75rem 2rem 0.75rem 2rem;
    flex-direction: row;
    background-color: #b0b0b0;
    text-decoration: none;
    color: var(--laranja-corretora);
    border-radius: 1rem;
    border: none;
}

.enviar{
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #F55F03;
    font-weight: 600;
    font-size: 1.125rem;
    cursor: pointer;
}

.enviar:hover{
    background-color: #ffffff;
}

.apresentacao{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


